.app-container {
  position: relative;
}
.content-container {
  padding: 4rem 2rem;
  overflow: visible;
  height: 100%;
  display: block;
}
h1 {
  font-size: 2rem;
  font-weight: normal;
  line-height: normal;
}
.bordered {
  padding: 4rem;
  border: 1px solid black;
  color: black;
}
p.description {
  font-size: 14px;
}
/*#arrow {
  padding: 4rem 8rem;
  transform: rotateY(-180deg) rotate(90deg);
}*/
