.app-container {
  position: relative;
}
.content-container {
  padding: 4rem 1rem 1rem 1rem;
  overflow: visible;
  height: 100%;
  display: block;
}
h1 {
  font-size: 2rem;
  font-weight: normal;
  line-height: normal;
}
.form-fields {
  padding: 4rem;
  border: 1px solid black;
}
