.unblocked {
}
.blocked {
  background: #2D2D2D;
  background-clip: content-box;
  color: white;
}
.unblocked > div {
  padding: 2rem;
  border: 1px solid black;
}
.blocked p {
  padding: 2rem;
}
ul {
  list-style: none;
}
ul li:hover {
  background: yellow;
}
